<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About Kira-Blogs</h1>
            <h3>Why Kira-Blog</h3>
            <hr>
            <p>
              <strong class="text-danger">Kira-Blog</strong> 
              <a href="/register">sign up</a>.
            </p>
            <p>
              This was a project is blogging website for Skin disease.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>Users can create, edit, and remove skin Blogs</li>
              <li>Users can review blog once, and edit or remove their review</li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>