.container-center {
  margin: auto;
}

.fw {
  &-n {
    font-weight: normal;
  }
  &-b {
    font-weight: bold;
  }
}
.text-center {
  text-align: center;
}
.text-upper {
  text-transform: uppercase;
}
.text-primary {
  color: $pink-color;
}

.text-secondary {
  color: $grey-color3;
}

.text-dark {
  color: $dark-color;
}
// Font sizes
.font {
  &-1 {
    font-size: 1.5rem;
  }
  &-2 {
    font-size: 2rem;
  }
  &-3 {
    font-size: 2.5rem;
  }
  &-4 {
    font-size: 3rem;
  }
  &-5 {
    font-size: 3.5rem;
  }
}

/* Padding */
.p {
  padding: 0.5rem;
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &y {
    padding: 0.5rem 0;
  }
  &y-1 {
    padding: 1rem 0;
  }
  &y-2 {
    padding: 2rem 0;
  }
  &y-3 {
    padding: 3rem 0;
  }
}

/* Margin */
.m {
  margin: 0.5rem;
  &-1 {
    margin: 1rem;
  }
  &-2 {
    margin: 2rem;
  }
  &-3 {
    margin: 3rem;
  }
  &y {
    margin: 0.5rem 0;
  }
  &y-1 {
    margin: 1rem 0;
  }
  &y-2 {
    margin: 2rem 0;
  }
  &y-3 {
    margin: 3rem 0;
  }
}

.quick-links {
  display: flex;
  flex-direction: column;
  min-width: 350px;

  & .quick-link {
    padding: 0.7rem 1rem;
    & a {
      text-decoration: none;
      color: $grey-color3;
      font-size: 1rem;
      & i {
        font-size: 1.3rem;
        margin-right: 0.7rem;
        color: $pink-color;
        @include trans-ease;
      }

      @include trans-ease;
      &:hover {
        color: $pink-color;
        font-size: 0.99rem;
      }
      &:hover > i,
      &:hover > a {
        transform: scale(1.3);
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & .side-line {
    height: 30px;
    width: 5px;
    background-color: $pink-color;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 0rem;
  }
  & h3 {
    font-size: 1.7rem;
    font-weight: normal;
  }
}

@media screen and (max-width: 700px) {
  // Font sizes
  .font {
    &-1 {
      font-size: 1.1rem;
    }
    &-2 {
      font-size: 1.5rem;
    }
    &-3 {
      font-size: 2rem;
    }
    &-4 {
      font-size: 2.5rem;
    }
    &-5 {
      font-size: 3rem;
    }
  }

  /* Padding */
  .p {
    padding: 0.5rem;
    &-1 {
      padding: 1rem;
    }
    &-2 {
      padding: 2rem;
    }
    &-3 {
      padding: 3rem;
    }
    &y {
      padding: 0.5rem 0;
    }
    &y-1 {
      padding: 1rem 0;
    }
    &y-2 {
      padding: 2rem 0;
    }
    &y-3 {
      padding: 3rem 0;
    }
  }

  /* Margin */
  .m {
    margin: 0.5rem;
    &-1 {
      margin: 0.7rem;
    }
    &-2 {
      margin: 1.5rem;
    }
    &-3 {
      margin: 2rem;
    }
    &y {
      margin: 0.5rem 0;
    }
    &y-1 {
      margin: 0.7rem 0;
    }
    &y-2 {
      margin: 1.5rem 0;
    }
    &y-3 {
      margin: 2rem 0;
    }
  }
  .quick-links {
    display: flex;
    flex-direction: column;
    min-width: 350px;

    & .quick-link {
      padding: 0.7rem 1rem;
      & a {
        font-size: 0.9rem;
        & i {
          font-size: 1.2rem;
          margin-right: 0.5rem;
        }
        &:hover > i,
        &:hover > a {
          transform: scale(1.2);
        }
      }
    }
  }

  .title {
    & .side-line {
      height: 30px;
      width: 3.5px;
      margin-right: 0.9rem;
    }
    & h3 {
      font-size: 1.5rem;
      font-weight: normal;
    }
  }
}

.display-none {
  display: none;
}
.display-block {
  display: block;
}
