#all-info {
  & .middle-section {
    & .tabs {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & .tab {
        cursor: pointer;
        @include trans-ease;
        &:hover {
          background-color: rgba($color: $pink-color, $alpha: 0.1);
          transform: translateY(-5%);
        }

        &.selected {
          border-bottom: 2px solid $pink-color;
        }
      }
    }

    & .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      margin: 3rem 0;
      & a {
        text-decoration: none;
        height: 170px;
        width: 250px;
        color: $pink-color;
        box-shadow: 1px 1px 50px 0.1px rgba($color: $pink-color, $alpha: 0.1),
          // box-shadow: 0px 2px 20px 0.1px rgba($color: $pink-color, $alpha: 0.1),
          rgba(0, 0, 0, 0.024) 0px 4px 30px 0px;
        border-radius: 20px;
        @include trans-ease;
        position: relative;
        @include flex;
        margin: 2rem 0;

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          //   clip-path: circle(12% at 0 0);
          clip-path: circle(8% at 100% 100%);
          background-color: rgba($color: $pink-color, $alpha: 0.8);
          z-index: 1;
          transition: z-index 300ms ease, clip-path 1s ease;
        }

        &:hover {
          transform: scale(1.05);
          color: #fff;
        }
        &:hover:after {
          z-index: -1;
          clip-path: circle(141.4% at 0 0);
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  #all-info {
    & .middle-section {
      & .tabs {
        & .tab {
          padding: 0.6rem;
          font-size: 0.9rem;
        }
      }

      & .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin: 3rem 0;
        & a {
          text-decoration: none;
          height: 170px;
          width: 250px;
          color: $pink-color;
          box-shadow: 1px 1px 50px 0.1px rgba($color: $pink-color, $alpha: 0.1),
            // box-shadow: 0px 2px 20px 0.1px rgba($color: $pink-color, $alpha: 0.1),
            rgba(0, 0, 0, 0.024) 0px 4px 30px 0px;
          border-radius: 20px;
          @include trans-ease;
          position: relative;
          @include flex;
          margin: 2rem 0;

          &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            //   clip-path: circle(12% at 0 0);
            clip-path: circle(8% at 100% 100%);
            background-color: rgba($color: $pink-color, $alpha: 0.8);
            z-index: 1;
            transition: z-index 300ms ease, clip-path 1s ease;
          }

          &:hover {
            transform: scale(1.05);
            color: #fff;
          }
          &:hover:after {
            z-index: -1;
            clip-path: circle(141.4% at 0 0);
          }
        }
      }
    }
  }
}
